img {
    width: 10vw;
}

#legende {
    padding:1em;
    background-color: rgba(0, 0, 0, 0.3);
}

#zone1 {
    background-color: rgba(71, 140, 251, 0.644);
    border-radius: 15px;
    padding: 2em;
}

#zone2 {
    background-color: rgba(255, 214, 118, 0.644);
    border-radius: 15px;
    padding: 2em;
}